<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoFramework.Config.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutoFramework.Config.TestSettings>
            <setting name="URL" serializeAs="String">
                <value>http://newtours.demoaut.com/</value>
            </setting>
        </AutoFramework.Config.TestSettings>
    </applicationSettings>
</configuration>